<!-- testing.component.html -->
<h3>Raw JSON Response</h3>
<pre>{{ rawResponse }}</pre>

<h3>Parsed Response</h3>
<pre>{{ fetchResponse | json }}</pre>

<div *ngIf="fetchResponse.length > 0">
  <div *ngFor="let item of fetchResponse">
    <div *ngIf="item.target">
      <p>ICAO Address: {{ item.target.icao_address }}</p>
      <p>Timestamp: {{ item.target.timestamp }}</p>
      <p>Latitude: {{ item.target.latitude }}</p>
      <p>Longitude: {{ item.target.longitude }}</p>
      <!-- Display other properties as needed -->
      <hr>
    </div>
  </div>
</div>

<!-- 

<div *ngIf="targets$ | async as targets">
    <div *ngFor="let target of targets">
        <p>ICAO Address: {{ target.icao_address }}</p>
        <p>Timestamp: {{ target.timestamp }}</p>
        <p>Latitude: {{ target.latitude }}</p>
        <p>Longitude: {{ target.longitude }}</p>
        
        <hr>
    </div>
</div> -->