.map-container {
  position: relative;
}

.top-right-buttons {
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;

}

.top-right-buttons .btn {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1000;
  font-size: 14px;
}


.live-location-button {
  position: absolute;
  bottom: 100px;
  left: 96.3%;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.black {
  position: absolute;
  top: 200px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.blue {
  position: absolute;
  top: 155px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.White {
  position: absolute;
  top: 110px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.airplane {
  position: absolute;
  top: 65px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.circle {
  position: absolute;
  bottom: 135px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.pentagon {
  position: absolute;
  bottom: 225px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.Vortac {
  position: absolute;
  bottom: 180px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.Restricted_Airspace {
  position: absolute;
  bottom: 90px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.Obstacle {
  position: absolute;
  bottom: 45px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.triangle {
  position: absolute;
  bottom: 270px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.grid {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

.icon-container {
  width: 40px;
  height: 40px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

mat-form-field {
  width: 100%;
}

.height-Top {
  margin-top: 5%;
}

.button-Top {
  margin-top: 50%;
}

img {
  width: 100%;
}

.position {
  margin-bottom: 20%;
}

.labelstyle {
  background-color: none;
  border: none;
  box-shadow: none;
  color: black;
}