.map-container {
  position: relative;
}

.top-right-buttons {
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;

}

.sideManu {
  position: absolute;
  bottom: 500px;
  left: 10px;
  z-index: 1000;
  // background-color: white;
  // border: 1px solid #ccc;
  // border-radius: 50px;
  // padding: 5px 10px;
  // cursor: pointer;
}

.blueAWY {
  position: absolute;
  bottom: 315px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.blackAWY {
  position: absolute;
  bottom: 360px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.top-right-buttons .btn {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1000;
  font-size: 14px;
}




.airplane {
  position: absolute;
  top: 65px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.circle {
  position: absolute;
  bottom: 135px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.pentagon {
  position: absolute;
  bottom: 225px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.Vortac {
  position: absolute;
  bottom: 180px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.Restricted_Airspace {
  position: absolute;
  bottom: 93px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.Obstacle {
  position: absolute;
  bottom: 50px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.triangle {
  position: absolute;
  bottom: 270px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.airport {
  position: absolute;
  bottom: 5px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

.icon-container {
  width: 40px;
  height: 40px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

mat-form-field {
  width: 90%;

}

img {
  width: 100%;
}

.position {
  margin-bottom: 20%;
}

.labelstyle {
  background-color: none;
  border: none;
  box-shadow: none;
  color: black;
}

.top-center-button {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  // background-color: white;
  // border: 1px solid #ccc;
  // border-radius: 50% 50% 50% 50%;
  // padding: 5px 10px;
  // cursor: pointer;
}

.offcanvas {
  height: 5%;
  /* Adjust this value as needed */
}

.live-location-button {
  position: absolute;
  bottom: 100px;
  left: 97%;
  z-index: 1000;
}
.Thailand-Waypoint{
  position: absolute;
  bottom: 150px;
  left: 97%;
  z-index: 1000;
}
.World-FIR{
  position: absolute;
  bottom: 200px;
  left: 97%;
  z-index: 1000;
}
nav{
  background-color: transparent;
}



.example-container {
  display: flex;
  flex-direction: column;
  // position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.example-spacer {
  flex: 1 1 auto;
}


.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}