
.map-container {
  position: relative;
}

.live-location-button {
  position: absolute;
  bottom: 100px;
  /* Adjust this value as needed */
  left: 96.3%;
  /* Adjust this value as needed */
  z-index: 1000;
  /* Ensure the button is above the map */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.black {
  position: absolute;
  top: 200px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}
.blue {
  position: absolute;
  top: 155px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}
.White {
  position: absolute;
  top: 110px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.airplane {
  position: absolute;
  top: 65px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}
.circle {
  position: absolute;
  bottom: 135px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.pentagon {
  position: absolute;
  bottom: 225px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.Vortac {
  position: absolute;
  bottom: 180px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.Restricted_Airspace {
  position: absolute;
  bottom: 90px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.Obstacle {
  position: absolute;
  bottom: 45px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}
.triangle {
  position: absolute;
  bottom: 270px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.grid {
  position: absolute;
  bottom: -0px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 0; /* Remove padding */
  cursor: pointer;
}
.icon-container {
  width: 40px; /* Adjust width to desired size */
  height: 40px; /* Adjust height to desired size */
  border-radius: 0; /* Ensure border-radius is set to 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure the image does not overflow the container */
}

.icon-container img {
  width: 100%; /* Ensure the icon fills the square container */
  height: 100%; /* Ensure the icon fills the square container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}


mat-form-field {
  width: 100%;
}

.height-Top {
  margin-top: 5%;
}

.button-Top {
  margin-top: 50%;
}

img {
  width: 100%;
}

.position {
  margin-bottom: 20%;
}

.labelstyle {
  background-color: none;
  /* Adjust transparency here */
  border: none;
  /* Optional: remove border */
  box-shadow: none;
  /* Optional: remove box shadow */
  color: black;
  /* Optional: set text color */
}